<!DOCTYPE html>
<html>
    <head>
        <title>MutualFind</title>
        <script type="text/javascript">
            var authWin;
            var authTimer;
            var result_data;
            function openAuthWin() {
                authWin = window.open('{{ url_for("auth") }}', 'Authorize', 'width=616,height=770');
                authTimer = setInterval( function() {
                    if (authWin.closed) {
                        clearInterval(authTimer);
                        isAuthorized();
                    }
                },
                1000 );
            }

            function isAuthorized() {
                let result = document.cookie.split(";")[document.cookie.split(";").length - 1].split("=")[1];
                if (result != null) {
                    result = window.atob(result);
                    result = result.replaceAll("'", "\"");
                    result_data = JSON.parse(result);
                    console.log("Authorized");

                    getGuilds(result_data);

                    return true;
                }
                else {
                    return false;
                }
                
            }

            function getGuilds(result_data) {
                let user_guilds = fetch(
                    "https://discord.com/api/v10/users/@me/guilds",
                    {
                        method: "GET",
                        headers: {
                            "Authorization": "Bearer " + result_data["access_token"],
                            "Content-Type": "application/json"
                        }
                    }
                ).then((response) => response.json());

                let bot_token = fetch(
                    "{{ url_for('fetch') }}" + "?bot_token",
                    {
                        method: "GET",
                        headers: {
                            "Content-Type": "application/json"
                        }
                    }
                ).then(
                    (response) => response.json()
                ).then(
                    (json) => bot_token = json["BOT_TOKEN"]
                );

                console.log(bot_token);

                let bot_guilds = fetch(
                    "https://discord.com/api/v10/users/@me/guilds",
                    {
                        method: "GET",
                        headers: {
                            "Authorization": "Bot " + bot_token["BOT_TOKEN"],
                            "Content-Type": "application/json"
                        }
                    }
                ).then(
                    (response) => response.json()
                )

                bot_guilds = bot_guilds.map((x) => {return x.id;});

                let guild_select = document.getElementById("guild_select");

                for (let guild of user_guilds) {
                    let guild_option = document.createElement("select");
                    guild_option.value = guild.id;
                    guild_option.text = guild.name;
                    if (!bot_guilds.includes(guild.id)) {
                        guild_option.disabled = true;
                    }
                    guild_select.appendChild(guild_option);
                }

                return "done";
            }

            function getCode(result) {
                let code = result.replace("b'", "").replace("'", "")
                document.cookie = "result=" + code;
                console.log(code);
            }

            /* function isAuthorized() {
                let result = window.atob(document.cookie.split(";")[document.cookie.split(";").length - 1].split("=")[1]);
                if (result != undefined) {
                    let user_guilds = fetch(
                        "https://discord.com/api/v10/users/@me/guilds",
                        {
                            method: "GET",
                            headers: {
                                "Authorization": result,
                                "Content-Type": "application/json"
                            }
                        }
                    ).then((response) => response.json())

                    let guild_select = document.getElementById("guild_select");

                    for (var guild of user_guilds) {
                        let guild_option = document.createElement("select");
                        guild_option.value = guild.id;
                        guild_option.text = 
                    }
                }
            } */
        </script>
    </head>
    <body>
        <button onClick="openAuthWin();">Authorize</button>
        <div id="guild_select_div">
            <select name="guilds" id="guild_select"></select>
        </div>
    </body>
</html>