<!DOCTYPE html>
<html>
    <head>
        <script>

        </script>
        <style>
            #option {
                display: flex;
                align-items: center;
                margin-bottom: 1px;
                gap: 5px;
                background-color: lightgrey;
                padding: 5px;
            }
        </style>
    </head>
    <body>
        <div id="select">
            Low quality options
            <div id="options">
                <div id="option">
                    <img src="https://carlleonador03.pythonanywhere.com/static/assets/funkytown.gif">
                    Option 1
                </div>
                <div id="option">
                    <img src="https://carlleonador03.pythonanywhere.com/static/assets/funkytown.gif">
                    Option 2
                </div>
                <div id="option">
                    <img src="https://carlleonador03.pythonanywhere.com/static/assets/funkytown.gif">
                    Option 3
                </div>
                <div id="option">
                    <img src="https://carlleonador03.pythonanywhere.com/static/assets/funkytown.gif">
                    Option 4
                </div>
                <div id="option">
                    <img src="https://carlleonador03.pythonanywhere.com/static/assets/funkytown.gif">
                    Option 5
                </div>
            </div>
        </div>
    </body>
</html>